#dog1, #dog2, #dog3, #dog4, #dog5, #dog6, #dog7, #dog8, #dog9, #dog10, #dog11, #dog12{

    height: 150px;
    font-size : 40px;
    font-family : "휴먼옛체";
    display: inline-block;
    float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
cursor: pointer;
padding-top: 100px;
color: white;
}

#dog1{
  background-image: url(리트리버1.jpg);
}
#dog1:hover{
background-image: url(리트리버2.jpg);
color: white;
}
#dog2{
  background-image: url(보더콜리1.jpg);
}
#dog2:hover{
  background-image: url(보더콜리2_1.jpg);
}
#dog3{
  background-image: url(사모예드1.jpg);
}
#dog3:hover{
  background-image: url(사모예드2.jpg);
}
#dog4{
  background-image: url(웰시코기1.jpg);
}
#dog4:hover{
  background-image: url(웰시코기2.jpg);
}
#dog5{
  background-image: url(포메라니안1.jpg);
}
#dog5:hover{
  background-image: url(포메라니안2.jpg);
}
#dog6{
  background-image: url(허스키1.jpg);
}
#dog6:hover{
  background-image: url(허스키2.jpg);
}
#dog7{
  background-image: url(닥스훈트1_1.jpg);
}
#dog7:hover{
  background-image: url(닥스훈트2.jpg);
}
#dog8{
  background-image: url(푸들1.jpg);
}
#dog8:hover{
  background-image: url(푸들2.jpg);
}
#dog9{
  background-image: url(달마시안1.jpg);
}
#dog9:hover{
  background-image: url(달마시안2.jpg);
}
#dog10{
  background-image: url(시바1.jpg);
}
#dog10:hover{
  background-image: url(시바2_1.jpg);
}

#dog11{
  background-image: url(말티즈1.jpg);
}
#dog11:hover{
  background-image: url(말티즈2.jpg);
}
#dog12{
  background-image: url(비글1.jpg);
}
#dog12:hover{
  background-image: url(비글2.jpg);
}